/.vscode
/1stpgm.c
/1stpgm.exe
/2ndpgm.c
/binsearch.c
/prac1.exe
/prac10.exe
/prac11.exe
/prac12.exe
/prac13.exe
/prac14.exe
/prac15.exe
/prac16.exe
/prac17.exe
/prac18.exe
/prac19.exe
/prac2.exe
/prac20.exe
/prac21.exe
/prac22.exe
/prac23.exe
/prac24.exe
/prac25.exe
/prac26.exe
/prac27.exe
/prac28.exe
/prac29.exe
/prac3.exe
/prac30.exe
/prac31.exe
/prac4.exe
/prac5.exe
/prac6.exe
/prac7.exe
/prac8.exe
/prac9.exe
/tempCodeRunnerFile.c
/trial.c
/trial.exe
prac48.exe
